<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Playchef</title>
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/landing_pg.css') }}">
    </head>

    <body>
        <!-- first site section -->
        <div class="first-container">
            <div class="header">
                <div class="left-header">
                   PLAYCHEF
                </div>

                <div class="right-header">
                    <a href="{{ url_for('app_auth.signup') }}">Sign-up</a>
                </div>
            </div>

            <div class="top-body-container">
                <div class="left-top-body">
                    <h1>PlayChef</h1>
                    <h2>Bringing Food Lovers Together Across the Globe</h2>
                    <button>click here to Sign-up</button>
                </div>

                <div class="right-body-container">
                    <img src="https://images.pexels.com/photos/958545/pexels-photo-958545.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="food image">
                </div>
            </div>
        </div>

        <!-- second site section -->
        <div class="second-container">
            <h3>
                Create posts, share recipes, and connect with other food lovers
            </h3>

            <div class="second-sub-container">
                <div class="second-sub-container-img">
                    <img class="img-game" src="https://images.pexels.com/photos/291528/pexels-photo-291528.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="food image">
                    <p class="p-header">Create Posts</p><p class="p-content">Create Posts about the recipes you love</p>
                </div>

                <div class="second-sub-container-img">
                    <img class="img-game" src="https://images.pexels.com/photos/13641314/pexels-photo-13641314.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="pes/fifa">
                    <p class="p-header">Share Recipes Steps</p><p class="p-content">Share steps on how to make this recipes</p>
                </div>

                <div class="second-sub-container-img">
                    <img class="img-game" src="https://images.pexels.com/photos/5791658/pexels-photo-5791658.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="food image">
                    <p class="p-header">Connect with people</p><p class="p-content">Connect with other food lovers</p>
                </div>

                <div class="second-sub-container-img">
                    <img class="img-game" src="https://images.pexels.com/photos/2673353/pexels-photo-2673353.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="food image">
                    <p class="p-header">Search recipes you love</p><p class="p-content">Search for recipes you love and see steps and guide-lines on how to make and prepare it from various users</p>
                </div>
            </div>
        </div>

        <!-- third site section -->
        <div class="third-site-section">
            <div class="quote">
                <p class="p-quote">PlayChef is an innovative platform designed to bring together food enthusiasts from around the world. It allows users to share and explore diverse recipes, providing detailed steps on how to prepare each dish. The platform aims to foster a sense of community among users by enabling them to upvote and engage with content that resonates with them.</p>
            </div>

            <div class="madara-container">
                <p class="madara"></p>
            </div>
        </div>
        
        <!-- fourth site section-->
        <div class="fourth-site-section">
            <div class="fourth-container">
                <p class="clt">PlayChef, You think it, we bring it!</p>
                <p class="clt-2">What are you waiting for! click the link to Sign-up!</p>
            </div>

            <button class="download">
                <a href="{{ url_for('app_auth.signup') }}">Sign-up</a>
            </button>
        </div>

         <!-- last site section -->
         <div class="last-container">
            <div class="last">Copy</div>
            <div class="last c">c</div>
            <div class="last">Cyril & Emekapaul(Ghost) Github.</div>
         </div>



    </body>

</html>